<div class="stonetop-follower-card" data-slug="{{slug}}">

	{{#unless arcanaSlug}}
	<button type="button" class="stonetop-follower-delete" data-slug="{{slug}}"
	        title="{{localize 'stonetop.followers.remove'}}">
		<i class="fas fa-times"></i>
	</button>
	{{/unless}}

	<input type="text" class="stonetop-follower-name-input" value="{{name}}" data-slug="{{slug}}">
	<input type="text" class="stonetop-follower-note-input" value="{{tags}}" data-slug="{{slug}}"
	       placeholder="{{localize 'stonetop.followers.notePlaceholder'}}">

	<div class="stonetop-follower-attrs">
		{{#if damage}}
		<div class="stonetop-resource stonetop-resource--small stonetop-resource--follower">
			<button class="stonetop-resource__label stonetop-damage-roll rollable" type="button"
			        data-roll="{{damage.value}}">{{localize "stonetop.followers.damage"}}</button>
			<input class="stonetop-resource__input stonetop-follower-damage"
			       type="text" value="{{damage.value}}" data-slug="{{slug}}">
		</div>
		{{/if}}
		<div class="stonetop-resource stonetop-resource--small stonetop-resource--follower">
			<span class="stonetop-resource__label">{{localize "stonetop.followers.armor"}}</span>
			<input class="stonetop-resource__input stonetop-follower-armor"
			       type="number" min="0" value="{{armor.value}}" data-slug="{{slug}}">
		</div>
		<div class="stonetop-resource stonetop-resource--wide stonetop-resource--follower">
			<span class="stonetop-resource__label">{{localize "stonetop.followers.hp"}}</span>
			<div class="stonetop-resource__split">
				<input class="stonetop-resource__input stonetop-follower-hp"
				       type="number" min="0" value="{{hp}}" data-slug="{{slug}}">
				<span>/</span>
				<input class="stonetop-resource__input stonetop-follower-hp-max"
				       type="number" min="0" value="{{hpMax}}" data-slug="{{slug}}">
			</div>
		</div>
	</div>

	<div class="stonetop-follower-loyalty">
		<span class="stonetop-follower-loyalty-label">{{localize "stonetop.followers.loyalty"}}</span>
		{{> "stonetop.resource-track" resource=loyalty btnClass="stonetop-follower-loyalty-btn" slug=slug}}
	</div>

	{{#if choices}}
	<div class="stonetop-follower-choices">
		{{#each choices.list}}
		{{> "stonetop.choice-row" cgContext="follower" cgGroup=../slug namePrefix=../slug}}
		{{/each}}
	</div>
	{{/if}}

</div>
